{
  "extends": ["acme"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-shadow": "warn",
    "no-unused-vars": "warn",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "controlComponents": ["Field"],
        "depth": 3
      }
    ],
    "react-hooks/exhaustive-deps": "warn",
    "react/function-component-definition": "off",
    "react/jsx-no-bind": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-shadow": "warn",
    "react/no-unescaped-entities": "off",
    "@next/next/no-page-custom-font": "off"
  }
}
